<div class="background">

        <div class="container">
            <div class="heroe-card">
                <div class="heroe-image">
                                <img src="{{hero._picture}}"> 
                </div>
                <div class="heroe-description">
                    <p>{{hero._nickname}}</p>
                    <p>Nombre: <input
                        type="text"
                        id="item-input"
                        [(ngModel)]="hero._name"
                        name="item"></p>
                    <p>Estatura:<input
                        type="number"
                        id="item-input"
                        [(ngModel)]="hero._height"
                        name="item"></p>
                        <button (click)="updateHero(hero)">Save Hero!</button>
                </div>
            </div>

            
        </div>
        <a class='returnToHero' [routerLink]="['/']">return to heroes</a>
    </div>
    