@import '../heroes/heroes.component.scss';

.returnToHero{
  width: 150px;
height: 40px;
background-color: white;
display: block;
margin: 15px auto;
content: "Return to heroes";
font-style: unset;
text-align: center;
padding-top: 18px;
text-decoration: none;
color: red;
border-radius: 14px;
}