<div class="background">

    <div class="container">

        <div class="heroe-card" *ngFor="let hero of heroes">
            <div class="heroe-image">
                    <span class="heroe-circle"></span>
                    <img src="{{hero._picture}}" alt="Smiley face"> 
            </div>
            <div class="heroe-description">
                <p>{{hero._nickname}}</p>
                <p>{{hero._name}}</p>
                <p>Estatura: {{hero._height}}mt</p>
            </div>
        </div>
    </div>
</div>