$color: #0086b3;
$bg-color: #f67031;
$heroe-name: #f21620;
$text: #8a8a8a;

h1 {
  font-size: 1.2em;
  color: $color;
  background-image: url('../../../assets/img/marvel-background.jpg'); 
}


.container {
  background-color:rgba(255, 255, 255 , .4);
  margin: auto;
  min-width: 333px;
    width: 95%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    padding: 1.2% 20px;
    margin-top: 6%;
    border-radius: 10px;
}

.heroe-card{
  position: relative;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  flex-basis: 300px;
  margin: 6px 6px;

  .heroe-circle{
    background-color: #f21620;
    width: 50px;
    height: 50px;
    opacity: 0.75;
    border-radius: 50%;
    position: absolute;
    display: block;
    left: 110px;
    top: 4px;
    box-shadow: 1px 2px #888888;
    

    .text{
      color: white;
      font-weight: bolder;
      position: relative;
      left: 12px;
      top: 15px;
    }
  }

  .heroe-image{
    width: fit-content;
    display: inline;
    float: left;

    img{
      border-radius: 50%;
      width: 140px;
      height: 140px;
    }
  }
  .heroe-description{
    width: fit-content;
    padding: 10px;
    float: right;
    margin-top: 50px;
  }

  p{
    margin: 0px;
    color: $text;
  }
  p:nth-child(1){
    font-size: 25px;
    color: red;
    font-weight: bolder; 
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}


.body {
  background-image: url('../../../assets/img/marvel-background.jpg') !important; 
}

