

<div class="background">

        <div class="container">
    
            <div class="heroe-card" *ngFor="let hero of heroes; let i = index" [routerLink]="['/hero', hero._nickname]">
                    <span class="heroe-circle">
                        <span class="text">
                                {{i+1 | ordinal}}
                        </span>
                    </span>
                <div class="heroe-image">
                        <img src="{{hero._picture}}" alt="Smiley face"> 
                </div>
                <div class="heroe-description">
                    <p>{{hero._nickname}}</p>
                    <p>{{hero._name}}</p>
                    <p>Estatura: {{hero._height}}mt</p>
                </div>
            </div>
        </div>
    </div>